.restaurant-page {
  background: #f2f3f7; /* light grey like Swiggy */
  min-height: 100vh;
  padding: 30px 60px;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
  color: #3e4152;
  font-size: 26px;
}

/* GRID */

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 28px;
}

/* CARD */

.restaurant-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transition: all 0.25s ease;
}

.restaurant-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.2);
}

.restaurant-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENT */

.restaurant-card-content {
  padding: 14px;
  text-align: center;
}

.restaurant-name {
  font-size: 18px;
  font-weight: 600;
  color: #3e4152;
}

.restaurant-info {
  font-size: 14px;
  color: #686b78;
  margin-top: 6px;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search-box input {
  width: 320px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}
